#root-card {
  width: 87%;
  height: 83%;
}

#inner-card {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.tab-screenshot {
  max-height: 100%;
  width: auto;
  display: block;
  margin: auto;
}

mat-card {
  padding: 0px;
  background-color: #fafafa;
}

mat-card-header {
  background-color: #f2f2f2;
}
