.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;
}

.window-header {
  flex-shrink: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  /*on top of everything except for top-menu*/
  z-index: 999;

  padding: 7px;

  background-color: #ccc;
  box-shadow: 0 1px 1px 1px #ccc;
}

.close-window-button {
  border: none;
  color: #666576;
  cursor: pointer;
  outline: none;
  background-color: #ccc;
}

.close-window-button:hover {
  background-color: #d6d6d6;
}

.window-body {
  overflow-y: auto;
  overflow-x: hidden;

  height: 100%;
}

.tab-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-auto-rows: 120px;
  grid-gap: 10px;

  padding: 10px;

  /*prevent empty sortable from having 0 height*/
  min-height: calc(100% - 20px);
}

.tab-box {
  overflow: hidden;

  --padding: 7px;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: #eef3f3;
  border: 1px solid #ccc;
  border-radius: 3px;

  transition: box-shadow 150ms;
}

.tab-box:hover {
  box-shadow: 0 0 1px 1px #cdcdcd;
}

.extension-tab-box {
  background-color: #757483;
}

.tab-header {
  flex-shrink: 0;

  margin-bottom: 5px;
  padding: var(--padding);

  background-color: #e2e2e2;
}

.extension-tab-header {
  background-color: #666576;
}

.absolute {
  position: relative;
}

.tab-title {
  position: relative;
  left: 0;

  margin: 0;
  /*hard-coded square button*/
  /*margin: 1.5px;*/

  color: #28517f;
}

.extension-tab-title {
  color: #eef3f3;
}

.close-tab-button {
  display: initial;
  opacity: 0;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  border: none;
  color: #666576;
  cursor: pointer;
  outline: none;

  /*rgba should be same colour as tab-header background*/
  background: linear-gradient(to left, rgba(204, 204, 204, 0.6), transparent);

  transition: opacity 150ms;
}

/*FIXME: not being applied*/
.close-tab-button:hover {
  opacity: 1;
}

.tab-box:hover .close-tab-button {
  opacity: 0.7;
}

.tab-body {
  flex-grow: 1;

  display: flex;

  padding: var(--padding);
}

.tab-body > img {
  object-fit: contain;
  width: 100%;
}

p.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
