.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;
}

.window-header {
  flex-shrink: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: #333;
}

.window-body {
  overflow-y: auto;
  overflow-x: hidden;

  height: 100%;
}

.tab-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-auto-rows: 120px;
  grid-gap: 10px;

  padding: 10px;

  /*prevent empty sortable from having 0 height*/
  min-height: calc(100% - 20px);
}

.tab-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 7px;

  background-color: #444;
}

.extension-tab-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 7px;

  background-color: #666;
}

.tab-box > .tab-header {
  flex-shrink: 0;

  margin-bottom: 5px;
}

.absolute {
  position: relative;
}

.tab-title {
  position: relative;
  left: 0;

  margin: 0;
  /*hard-coded square button*/
  /*margin: 1.5px;*/

  color: #fff;
}

.close-tab-button {
  display: none;

  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
}

.tab-box:hover .close-tab-button, .close-tab-button:hover {
  display: initial;
}

.tab-box > .tab-body {
  flex-grow: 1;

  display: flex;
}

.tab-body > img {
  object-fit: contain;
  width: 100%;
}

p.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
