.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;
}

.window-header {
  flex-shrink: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 7px;

  background-color: #333;
}

.close-window-button {
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  background-color: #333333;
}

.close-window-button:hover {
  background-color: #fff;
}

.window-body {
  overflow-y: auto;
  overflow-x: hidden;

  height: 100%;
}

.tab-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-auto-rows: 120px;
  grid-gap: 10px;

  padding: 10px;

  /*prevent empty sortable from having 0 height*/
  min-height: calc(100% - 20px);
}

.tab-box {
  --padding: 7px;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: #444;
}

.extension-tab-box {
  background-color: #666;
}

.tab-box > .tab-header {
  flex-shrink: 0;

  margin-bottom: 5px;
  padding: var(--padding);
}

.tab-box > .extension-tab-header {
  /*lighter version of --light-accent-color*/
  background-color: #808c8f;
}

.absolute {
  position: relative;
}

.tab-title {
  position: relative;
  left: 0;

  margin: 0;
  /*hard-coded square button*/
  /*margin: 1.5px;*/

  color: #fff;
}

.close-tab-button {
  display: initial;
  opacity: 0;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;

  /*rgba should be same colour as tab-header background*/
  background: linear-gradient(to left, rgba(250, 250, 250, 0.6), transparent);
}

/*FIXME: not being applied*/
.close-tab-button:hover {
  opacity: 1;
}

.tab-box:hover .close-tab-button {
  opacity: 0.7;
}

.tab-box > .tab-body {
  flex-grow: 1;

  display: flex;

  padding: var(--padding);
}

.tab-body > img {
  object-fit: contain;
  width: 100%;
}

p.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
