.tab-grid {
  display: grid;

  /* TODO size based on screen size*/
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;

  background-color: #ffffff;
  color: #444444;
}

.tab-box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
