<div class="container">
  <!--hide the header if this is an empty window-->
  <div *ngIf="data.tabs.length !== 0" class="window-header left-right-children-parent">
    <div class="left-children">
      <button class="window-header-button"
              title="Sort tabs by domain name"
              (click)="onSortTabsByDomainNameButtonClicked()">
        <i class="fa fa-sort-amount-desc"></i>
      </button>
      <button class="window-header-button"
              title="Sort tabs by title"
              (click)="onSortTabsByTitleButtonClicked()">
        <i class="fa fa-sort-alpha-asc"></i>
      </button>
      <button class="window-header-button"
              title="Remove duplicate tabs"
              (click)="onRemoveDuplicateTabsButtonClicked()">
        <i class="fa fa-clone"></i>
      </button>
    </div>
    <div class="right-children">
      <button class="window-header-button"
              title="Close window"
              (click)="onRemoveWindowButtonClicked()">
        <i class="fa fa-close"></i>
      </button>
    </div>
  </div>

  <div class="window-body">
    <div class="tab-grid" [sortablejs]="data.tabs" [sortablejsOptions]="options">
      <!--title 'Sort those Tabs' defined in index.html-->
      <div class="tab-box"
           [class.extension-tab-box]="tab.title === 'Sort those Tabs'"
           *ngFor="let tab of data.tabs; let i = index"
           (click)="onTabClicked(tab.id)"
           [@removal]="_states[i]"
           (@removal.done)="onAnimationStateChange($event, tab.id)">
        <!--title 'Sort those Tabs' defined in index.html-->
        <div class="tab-header absolute" [class.extension-tab-header]="tab.title === 'Sort those Tabs'">
          <div title="{{ tab.title }}">
            <!--title 'Sort those Tabs' defined in index.html-->
            <p class="tab-title truncate"
               [class.extension-tab-title]="tab.title === 'Sort those Tabs'">
              {{ tab.title }}
            </p>
          </div>

          <!--title 'Sort those Tabs' defined in index.html-->
          <button *ngIf="tab.title !== 'Sort those Tabs'"
                 class="close-tab-button"
                 title="Close this tab"
                 (click)="onRemoveTabButtonClicked(tab.id)">
            <i class="fa fa-close"></i>
          </button>
        </div>
        <div class="tab-body">
          <!--title 'Sort those Tabs' defined in index.html-->
          <img #imgRef
               [src]="tab.title === 'Sort those Tabs' ? extensionFavIconUrl : tab.favIconUrl"
               (error)="imgRef.src = genericWebpageIconUrl;">
        </div>
      </div>
    </div>
  </div>
</div>
