.top-menu {
  width: calc(100% - 2*10px);
  height: 50px;
  position: fixed;
  top: 0;

  /*always on top*/
  z-index: 1000;

  padding: 0 10px;

  background-color: #7690eb;
  box-shadow: 0px 1px 2px 2px #ccc;
}

.top-menu > div > * {
  margin-right: 5px;
}

.button {
  padding: 5px;

  border: none;
  color: #eef3f3;
  cursor: pointer;
  outline: none;
  background-color: #7690eb;
}

.button:hover {
  background-color: #839bed;
}

.main-content {
  margin-top: 50px;
  padding: 15px;
}
