.top-menu {
  width: 100%;

  height: 50px;
  position: fixed;
  top: 0;

  background-color: #333333;
  /*always on top*/
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container > * {
  margin-right: 5px;
}

.button {
  padding: 5px;

  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  background-color: #333333;
}

.button:hover {
  background-color: #fff;
}

.main-content {
  margin-top: 50px;
  padding: 15px;
}
