<div class="top-menu left-right-children-parent">
  <div class="left-children">
    <button class="button"
            title="Sort all tabs by domain name"
            (click)="sortingSession.onAllTabsSortedByDomainName()">
      <i class="fas fa-sort-amount-down"></i>
    </button>
    <button class="button"
            title="Sort all tabs by title"
            (click)="sortingSession.onAllTabsSortedByTitle()">
      <i class="fas fa-sort-alpha-down"></i>
    </button>
    <button class="button"
            title="Remove all duplicate tabs"
            (click)="sortingSession.onAllDuplicateTabsRemoved()">
      <i class="far fa-clone"></i>
    </button>
  </div>
  <div class="right-children">
    <button class="button" (click)="sortingSession.applyChanges()">APPLY</button>
    <button class="button" (click)="sortingSession.resetChanges()">RESET</button>
  </div>
</div>

<div class="main-content">
  <app-sorting-session #sortingSession></app-sorting-session>
</div>
