.top-menu {
  width: 100%;

  height: 50px;
  position: fixed;
  top: 0;

  background-color: #333333;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  margin-right: 10px;
}

.main-content {
  margin-top: 60px;
}
