.window-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 10px;
}

.window-box {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;

  background-color: #ccc;
}
