.window-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  grid-auto-rows: 40vh;
  grid-gap: 10px;
}

.window-box {
  overflow: hidden;
  background-color: #ececec;
  border: 1px solid #ccc;
  border-radius: 3px;
}
