body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #eef3f3;
}

.left-right-children-parent {
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-children {
  flex-shrink: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-children {
  flex-shrink: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  /*background: #ececec;*/
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}

::-webkit-scrollbar-thumb:hover {
  background: #cdcdcd;
}
